html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
canvas{
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    image-rendering: pixelated;
    border: none;
    background: whitesmoke;
}
@media all and (orientation: portrait) {
    body {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}