#ui{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.7;
    font-size: 5pt;
    font-family: "FR73PixelW00-Regular";
}
.common {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
}
.common div {
    width: 33.33%;
    height: 50%;
}
div.chat{
    width: auto;
    height: 100%;
    background: lightgray;
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
    border-radius: 2px;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: -20px 40px -80px 20px;
}
div#chatText.chattext{
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
span{
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 5px 10px 0 10px;
}
form#chatForm{
    position: relative;
    margin: 10px;
    bottom: 0;
    height: 20px;
    width: 100%;
}
input#chatInput{
    position: relative;
    display: inline-block;
    padding: 0 5px 0 5px;
    border: 1px;
    height: 20px;
    width: 100%;
    text-align: left;
    border-radius: 2px;
    font-size: 5pt;
    font-family: "FR73PixelW00-Regular";
}